
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    --webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    margin-top: 80px;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: lighter;
}

img{
    margin-left: 20px;
    border: none;
    background: transparent;
    
}

.netflix{
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: -150px;
    background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg") no-repeat center center/cover;
}

.netflix-top{
    position: relative;
    height: 1px;
    z-index: 2;
}

.netflix-top img {
    width: 170px;
    top: 90%;
    
}

.netflix-top a{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.netflix::after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0, 0.4);
    box-shadow: inset 100px 100px 150px #000000, inset -10px -100px 250px #000000;
}

.netflix-content {
   position: relative;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 9rem;
   z-index: 2;
}

.netflix-content p{
    font-size: 18px;
    color: white;
    margin-right: -50px;
}


#button {
    height: 65px;
    width: 300px;
    background-color: #e50914;
    color: white;
    border: none;
    margin-left: 550px;
    margin-top: -65px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    float: right;

}

#sign-in {
    background-color: #e50914;
    color: white;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 10%;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45)
}

input {
    height: 65px;
    width: 500px;
    margin-right: 180px;
    padding: 30px;
    text-align: left;
    border-radius: 2px;
    margin-top: 30px;
    font-size: 20px;
}

::placeholder{
    font-size: 20px;
    text-align: left;
}

hr {
    border-top: 6px solid #404040;
    margin-top: 170px;
}

#first_content_header h1 {
    text-align: left;
    margin-left: 150px;
    margin-top: 150px;
    margin-bottom: 40px;
    font-weight: 900;
    
}

#first_content_paragraph p{
    text-align: left;
    font-size: 24px;
    margin-left: 150px;
    margin-top: -20px;
   
}

#first_image{
    text-align: right;
    margin-top: -320px;
    position: relative;
}

#second_content_header {
    margin-left: 400px;
    margin-top: -400px;
    font-family: 900;

}

#second_content_paragraph p {
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: 380px;
    font-size: 24px;
}

#third_content_header{
    text-align: left;
    margin-left: -700px;
    margin-top: -450px;
    font-weight: 900;
}

#third_content_paragraph p{
    text-align: left;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 24px;
    position: relative;
}

#third_image{
    text-align: right;
}

.faq li{
    margin-top: 5px;
    text-align: left;
    text-indent: 20px;
    font-size: 28px;
    margin-left: 350px;
    background-color: #404040;
    border: 1px solid grey;
    width: 700px;
    height: 60px;
    color: white;
    line-height: 60px;
    font-family: Helvetica;
    
}

.faq h1{
    margin-left: 0px;
}

#faq_form form{
    margin-left: 300px;
}

#form_two_button{
    margin-right: 325px;
}

.container4 p{
    color: grey;
    margin: 10px;
}

#form_two_text {
    margin-top: 20px;
    font-size: 10px;
}

table{
    text-align: left;
    margin-left: 250px;
    width: 80%;
    margin-top: 30px;
    border-spacing: 15px;
    font-size: 12px;
}

footer p{
    text-align: left;
    margin-left: 260px;
    margin-top: 50px;
    padding: -20px;
    color: white;
    font-size: 17px;
}

